@media screen and (max-width:1000px) {
  .display {
    width: 560px;
  }

  .block {
    width: 140px;
  }

  label {
    font-size: 16px;
  }


  input {
    border-radius: .5rem;
    padding: .3rem;
    font-size: 1rem;
  }

  form {
    flex-direction: column;
  
  }

  .form-container {
    margin: 0px;
    padding: 0px;
    width: 100%;

  }

  .submit-block {
    position: relative;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    height: 100%;
  }

  
  .line {
    border: none;
    margin-top: 30px;
    border-top: 1px solid var(--sec-color-three);
    width: 100%; 
  }

  button {
    padding: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translateY(0);
    margin-top: 0;
  }

  img{
    width: 20px;
  }

  h1 {
    font-size: 4rem;
    font-style: italic;
  }


}

@media screen and (max-width:550px) {
  .display {
    width: 400px;
  }

  .block {
  width: 100px;
  }

  label {
    font-size: 14px;
  }


  form {
    flex-direction: column;
  
  }

  .form-container {
    margin: 0px;
    padding: 0px;
    width: 100%;

  }

  .submit-block {
    position: relative;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .line {
    border: none;
    margin-top: 20px;
    border-top: 1px solid var(--sec-color-three);
    width: 100%; 
  }

  button {
    position: absolute;
    padding: 0rem, .5rem;
    top: 0;
    transform: translateY(-10%, 50%);
    margin-top: 0;
  }

  img{
    width: 20px;
  }

  h1 {
    font-size: 3rem;
    font-style: italic;
  }


}


